@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#linha {
    border: 1px solid green;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
}

:root {
    --cor-principal: #a54ef7;
    --cor-secundaria: #8c8c8c;
    --cor-branca: #fff;
    --cor-fundo: #1b1b1b;
    --cor-fundo-box: #292828;
}

.principal-color {
    color: var(--cor-principal);
}

header {
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
}

.navbar {
    padding-top: 1vh;
    background-color: var(--cor-fundo);
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    display: flex;
    width: 90%;
    max-width: 1320px;
    height: 8vh;
    position: fixed;
    z-index: 99;
}

.navbar .logo {
    font-size: 1.5rem;
}

.nav-list li {
    margin-left: 25px;
    font-size: 1rem;
}

.nav-list a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.navbar ul li a:focus {
    color: var(--cor-principal);
}

.navbar ul li a:hover {
    color: var(--cor-principal);
    transition: 0.4s;
}

.initial-container {
    width: 100%;
    height: 95vh;
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
}

.left-side {
    display: flex;
    justify-content: center;
    width: 50%;
}

.wrapper {
    display: flex;
}

.box {
    display: flex;
    max-width: 600px;
    flex-direction: column;
}

.box .title h1 {
    font-size: 2rem;
    color: var(--cor-branca);
}

.box .title span {
    font-size: 2.5rem;
    color: var(--cor-branca);
    font-weight: 600;
    text-decoration-color: var(--cor-principal);
}

.box .title #titleArea{
    color: var(--cor-principal);
    background-color: var(--cor-principal);
    padding: 5px;
    font-weight: 700;
    font-size: 2.5rem;
}

.button {
    justify-content: space-around;
    background-color: var(--cor-principal);
    border: none;
    padding: 10px;
    color: var(--cor-branca);
    text-decoration: none;
}

.image-box img {
    animation-duration: 3s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slide-in {
    from {
        translate: 1px 0;
    }

    to {
        translate: 20px 10px;
    }
}

.default-container {
    width: 100%;
    background-color: var(--cor-fundo);
    padding: 25px
}

#experiences {
    width: 100%;
    background-color: var(--cor-fundo);
    height: 100vh;
    padding: 25px
}

#experiences .title { 
    color: var(--cor-branca);
    font-size: 2rem;
    text-decoration: underline var(--cor-principal);
}

.default-container .title { 
    color: var(--cor-branca);
    font-size: 2rem;
    text-decoration: underline var(--cor-principal);
}

.description {
    color: var(--cor-branca);
    text-align: justify;
}

.description p {
    text-align: left;
    font-size: 18px;
    font-family: 'Inter';
}

.description h4 {
    text-align: left;
}

.description { 
    color: var(--cor-branca);
    font-size: 1.5rem;
}

.social .icon a{
    background-color: var(--cor-principal);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 3px solid #2b2b2b;
    color: var(--cor-branca);
    text-decoration: none;
}

.box-tech {
    background-color: var(--cor-fundo-box);
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px rgb(15, 15, 15);
}

.box-tech .icon-area { 
    display: inline-block;
}

.box-tech .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: ease-in-out 1s;
}

.box-tech .icon i { 
    justify-content: center;
    background-color: #a84aff;
    color: #fff;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.box-tech .icon span {
    margin-top: 5px;
    color: var(--cor-branca);
    font-weight: 500;
}

.box-tech .icon:hover {
    transform: scale(1.2);
    color: var(--cor-fundo-box);
}

.card-project { 
    border: 3px solid var(--cor-principal);
    border-radius: 10px;

}

.card-project .card-top img {
    width: 100%;
    height: 230px;
    border-radius: 7px 7px 0 0;
}

.card-project .card-tech {
    width: 100%;
    text-align: center;
    color: var(--cor-principal);
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid;
}

.card-bottom {
    display: flex;
    flex-direction: column;
}
.card-bottom .card-title {
    margin-top: 5px;
    color: var(--cor-branca);
    text-align: center;
    font-size: 1.3rem;
}

.card-project .card-description {
    padding: 5px 10px 0px 5px;
    color: var(--cor-branca);
    text-align: center;
}

.card-actions {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

.card-actions .primary-button {
    background-color: var(--cor-principal);
    border: none;
    color: var(--cor-branca);
    padding: 10px;
    border-radius: 2px;
}

.card-actions .primary-button a,
.card-actions .secondary-button a{
    color: var(--cor-branca);
    text-decoration: none;
}

.card-actions .secondary-button {
    background-color: var(--cor-fundo-box);
    color: var(--cor-branca);
    padding: 10px;
    border: 2px solid var(--cor-principal);
    border-radius: 2px;
}

